# Байт-код, оптимизированные файлы и DLL
__pycache__/
*.py[cod]
*.pyo

# Файлы виртуального окружения
.venv
venv/

# Артефакты сборки и упаковки
build/git
dist/
*.egg-info/
*.egg

# Локальные настройки и IDE
.idea/
.vscode/
*.swp
*.swo
