.profile-title{
    color:#2A1468;
    font-weight:700;
}

.profile-card{
    max-width:900px;
    background:white;
    border-radius:18px;
    border-top:8px solid #4D19CC;
    padding:2rem;
}

.profile-image{
    width:220px;
    height:220px;
    object-fit:cover;

    border-radius:50%;

    border:6px solid #CBB8FF;
    background:white;
}

.username{
    color:#2A1468;
    font-weight:700;
}

.profile-info{
    display:flex;
    flex-direction:column;
    gap:1rem;
}

.info-item{
    background:#F8F6FF;
    border-left:5px solid #4D19CC;
    border-radius:10px;
    padding:1rem;
    color:#2A1468;
}

.info-item strong{
    color:#4D19CC;
}